body  {
  background-image: url("paper.gif");
  background-color: #cccccc;
}

h1{
	text-align: center;
	background-color: #89c3e27d;
}
p{background-color: gray;
	background-image: url(Image/position.jpg);
	text-align: center;
	font-size: 30px;
	font-style: italic;

}
h2{

	background-color: #686d8a70;
	text-align: center;
	font-size: auto;
	font-style: inherit;
}

h3{

	background-color: #d4202054;
	text-align: center;
	font-size: auto;
	font-style: inherit;
}
h4{
	background-position: center;
	background-color: #d8d7e8;
	font-style: all;
	font-synthesis: style;
	text-align: center;
}

h5{
	text-align: center;
	text-underline-position: right;
	font-size: inherit;
	font-size: 30px;
	border: 5px;
}
h6{
	font-size: 25px;
	font-size: bold;
	text-align: center;
}

q{
	background-image: url(Image/position.jpg);
	background-color: #a98f9a;
}
form{
	background-color: #a2797957;
}
table{
	border-collapse: collapse;
	margin-left: 36%;
	background-color: #d8b6c0;
}
blockquote{
	background-image: url(Image/position.jpg);
	height: 400px;
	width: auto;
}